@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --repuesta: #10731f;
    --fondo:#0d0d0d;
    --section:#41aef2;
    --sombras:#296ac6;
    --titulos: #0b1226;
    --font:roboto, sans-serif;
    --size:18px;
    --titulo:2rem;
    --subtitulo:1.4rem;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    font-size: var(--size);
}
body{
    background-color: var(--fondo);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content{
    width: 664px;
    height: 200px;
    background-color: var(--section);
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 10px rgb(41, 108, 166);
}
#content .col-12 h1{
    font-size: var(--titulo);
    color: var(--titulos); 
    font-weight: 700;
    margin: 10px 0 0 0;
    text-align: center;
}
.txtdate{
    height: 50px;
    width: 100%;
    border: 0;
}
.txtleft{
padding-left: 50px !important;
padding-right: 30PX !important;
}
.txtright{
padding-right: 50px !important;
padding-left: 30PX !important;
}
.place{
    padding-left: 10px;
    font-weight: 700;
    font-size: var(--subtitulo);
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{

width: 561px !important;
height: 50px !important;
}